* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --search-border: #bbb;
    --search-focus-border: #3a71ca;
}

.hide {
    position: absolute;
    visibility: hidden;
}

.container {
    width: 40%;
    min-width: 320px;
}

#search-field {
    width: 33%;
    margin: 2em;
    line-height: 2em;
    padding: 0 2px;
    border-radius: 5px;
    border: 1px solid;
    transition: width 0.5s;
    border-color: var(--search-border);
}

#search-field:focus {
    width: 100%;
    border-color: var(--search-focus-border);
}

#search-field:focus::placeholder {
    color: transparent;
}

