:root {
    --red: #ED2938;
    --white: #FFF;
    --blue: #002495;
    --flag-height: 375px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-france {
    aspect-ratio: 3/2;
    height: var(--flag-height);
    /* width: calc(var(--flag-height) * 3/2); */
    /* display: flex; */
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
}

.stripe {
    /* flex-grow: 1; */
}

.blue {
    background: var(--blue);
}

.white {
    background: var(--white);
}

.red {
    background: var(--red);
}
